html, body, #appContainer, #app {
    margin: 0;
    height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  position: fixed;
}

.info-display {
  z-index: 100;

  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
}

.object-detail {
  padding: 10px 30px;
}

.object-detail dt {
  font-weight: bold;
}

button.close-display {
  float: right;
}